<section class="home">

  <div class="background-gradient"></div>

  <div class="home__content">

    <div class="home__left">

      <span class="subtitle">
        Java Backend Engineer
      </span>

      <h1>
        Hi, I'm <span>Maurício Macário de Farias Jr</span>.
      </h1>

      <h2>
        Building scalable backend solutions with Java, Spring Boot and AWS.
      </h2>

      <p>
        Backend Engineer with more than <strong>5 years of experience</strong>
        designing scalable backend solutions.

        Specialized in Java, Spring Boot, Microservices, REST APIs, AWS,
        Kafka, Docker, PostgreSQL and MongoDB.

        Currently developing backend services for a large-scale insurance
        platform, with hands-on experience taking systems from architecture
        to production across mobile apps, enterprise platforms and legacy
        modernization.
      </p>

     <div class="tech-stack">

        <span>Java</span>
        <span>Spring Boot</span>
        <span>Microservices</span>
        <span>REST APIs</span>

        <span>AWS</span>
        <span>Kafka</span>

        <span>Docker</span>
        <span>Kubernetes</span>

        <span>PostgreSQL</span>
        <span>MongoDB</span>

        <span>Distributed Systems</span>

        <span>CI/CD</span>

    </div>

    </div>

    <div class="home__right">

      <div class="photo-background"></div>

      <div class="photo-card">

        <img
          src="images/profile.jpg"
          alt="Maurício Macário">

      </div>

    </div>

  </div>

</section>